@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">BindPlanet</h1>
        <p>Learn about <a href="http://bindplanet.com/">BindPlanet</a>.</p>
        <img src ="https://lh3.googleusercontent.com/pw/ACtC-3fObV_g8z_iCAj0of1HCA8YSJoZoYCFBZr2KoS1Bp7DasRb6FKJwBKJfY3juJmUksGyu3qmElYmlfyFoPGYhvTej1_ZrvM7QDLiUwHKR9sS5GV62ZiHKPh0QdUXYRZSdGNLDxyFMG1fEYlGO98NGGkYag=w1370-h883-no?authuser=0" alt="Girl in a jacket" >
</div>
